.section-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;

}

.section-3 h1 {
    margin: 10px 0 50px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #3D3E48;
}

.section-3>p {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #295943;
}

.section-3-block {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.section-3-block-items {
    width: calc(33.333% - 14px);
    background-color: #FFFFFF;
    box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;

}


.section-3-block-items img {
    width: 100%;
    border-radius: 10px;

}

.section-3-block-items>h4 {
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2;
    color: #3D3E48;
    margin-top: 20px;

}

.block-item-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;

}

.block-item-txt>span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: #295943;

}

.block-item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #3D3E48;

}

@media (max-width:800px) {
    .section-3 {
        width: 100%;
    }

    .section-3-block {
        width: 90% !important;
    }

    .ection-3-block-items {
        flex-wrap: wrap !important;
        width: 50% !important;
    }

}