.section-1{
    max-width: 1280px !important;
}
.section-1-block {
    
    width: 100% !important;
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-image: url('./1.png');
    background-repeat: no-repeats;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-txt {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-1-txt h1 {
    font-size: 47.78px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.section-1-txt p {

    width: 55%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    font-style: normal;
    color: #ffffff;
    margin: 15px 0;
}

.section-1-rectangle {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 4px 8px 2px rgb(0, 0, 0, 25);
    padding: 15px;
    width: 680px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.section-1-rectangle i {
    margin: 0 15px;
}

.section-1-rectangle input{
    border: none;
    outline: none;
    height: 40px;
    padding: 0 0 0 20px;
}

.section-1-rectangle input:nth-of-type(2){
    border-left: 1px solid #3d3e48;
    border-right: 1px solid #3d3e48;

}

.section-1-rectangle button {
    width: 168px !important;
    height: 49px;
    background-color: #43B97F;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #FFFFFF;
}